[2012-10-11 17:27] marcoscaceres opened #1 "Use Cases and Reqs document needs review"
The first draft of the "[Use Cases and Requirements for Standardizing Responsive Images](http://responsiveimagescg.github.com/ri-usecases/UseCases.html)" needs a proof read and review... and consensus from the CG to formally present them to the HTMLWG.

[2012-10-11 18:26] miketaylr opened #2 "missing `and` token in example?"
In section 3.2: `@media screen (max-width: 41em) {}` -> `@media screen and (max-width: 41em) {}`

[2012-10-11 18:36] Wilto commented on #2
♡ you, @miketaylr.

[2012-10-11 18:40] miketaylr opened #3 ""breakpoints" undefined"
In 3.2 Design Breakpoints, "breakpoints" is used, but never defined, e.g., "Developers currently match specific CSS Media Queries "breakpoints" for images to the breakpoints that they have defined in the CSS of their responsive designs."

Following the "CSS Media Queries" link, there is no definition there either.

Typically breakpoints are used to refer to stopping program execution for debugging

[2012-10-11 18:40] miketaylr commented on #2
:blush:

[2012-10-11 18:43] miketaylr commented on #3
I guess there's an implicit definition here:

[code]

Still I think an explicit definition would be good.

[2012-10-11 18:49] miketaylr opened #4 "Introduction Typos"
`web developers have had to created`

s/created/create/

`a range of custom solutions to for serving`

s/to//

[2012-10-11 18:54] miketaylr opened #5 "David Hyatt listed as HTML5 editor?"
I think that's a little outdated. ^_^

[2012-10-11 19:03] marcoscaceres commented on #3
Agreed. I'll add it (or remove it)... breakpoint is a bit of an "industry term" (it's just a media query after all!).

How does this sound?

[2012-10-11 19:19] #4 closed, assigned to nobody

[2012-10-11 19:20] #2 closed, assigned to nobody

[2012-10-11 20:08] miketaylr commented on #3
Beauty, Bob.

[2012-10-11 20:20] Wilto commented on #3
I think we could go even more simple with it. How about something like:

[2012-10-11 21:14] marcoscaceres commented on #5
heh, true. I'll have do a pull request on Respec.js and fixed that.

[2012-10-11 21:14] #5 closed, assigned to nobody

[2012-10-11 21:15] marcoscaceres commented on #1
[Request for review](http://lists.w3.org/Archives/Public/public-respimg/2012Oct/0019.html) sent to RICG.

[2012-10-11 21:23] marcoscaceres commented on #3
@Wilto going to meet you half way. I want to keep the first sentence in my definition because it's using language straight out of the media queries spec. However, your second sentence is nice and clear :)

[2012-10-11 21:23] #3 closed, assigned to nobody

[2012-10-11 21:24] Wilto commented on #3
Sounds good to me.

[2012-10-12 11:33] #1 closed, assigned to nobody

[2012-10-12 11:43] marcoscaceres opened #7 "Reach out to specific members of the community to do a review"
@Wilto could you please reach out to key participants of the CG for a review of the UC&Reqs doc? We particularly need help with the accessibility and API design requirements (i.e., have they been sufficiently articulated or are we missing something?).

[2012-10-12 19:12] webmeadow opened #8 "Typos, word changes, and whatnots"
I'm not going all pull-requesty on this since maybe you don't want to make all these changes. Also this is a mix of typo stuff and style stuff, and don't think I don't love y'all just because I'm picky about word choices and sentence phrasing.  A lot of this is straight-up Strunk&White sentence construction and "omit needless words" sort of stuff.

General note - We need to standardize the capital

[2012-10-14 00:33] marcoscaceres opened #9 "Gather usage evidence"
In light of the use case gathering process, I was reading: http://www.codinghorror.com/blog/2008/02/i-repeat-do-not-listen-to-your-users.html

Key bits:

From which I think we should do run a simple developer challenge (except without using the dicky word "challenge" :) ).

It would be a simple test like: "using either picture or img@srcset, show us how you would make this image responsive". And w

[2012-10-15 12:04] anselmh commented on #9
What about asking via poll?
Don't understand what you mean by your 2nd test method.
Also I do think both ways are use-cases and both are used depending on what type of website and what types of images one uses for the website.

[2012-10-15 12:21] marcoscaceres commented on #9
@anselmh the problem with a poll is that we won't get representative results (see ["I Repeat: Do Not Listen to Your Users"](http://www.codinghorror.com/blog/2008/02/i-repeat-do-not-listen-to-your-users.html))... particularly:

What we to actually see _how_ people solve the responsive images problem in code (i.e., do they use img@srset or picture, and how do they use them). Ideally, we could find e

[2012-10-15 12:56] anselmh commented on #9
Thanks for explaining a bit more in depth, Marcos. If you need help with this, just notify me.

[2012-10-15 13:10] marcoscaceres commented on #9
@anselmh yeah, the original bug description is not very clear. It was a random thought at 2am on a saturday night :) I'll update it to try to make it more clear.

I've started making some "paper prototypes" ([pdf](https://dl.dropbox.com/u/38490906/proto1.pdf))... I'll make a few more and upload them to github.

[2012-10-15 13:12] marcoscaceres commented on #9
updated description

[2012-10-15 16:52] marcoscaceres commented on #8
@Eileen, this is really great! Thanks for doing such a detailed review. The document is 100x better now. One minor thing: it's hard to match line numbers to comments once I start changing the document. What I usually do is I quote the sentence from the original document and then suggest a change immediately underneath. That way, the editor can just do a find a replace or the erroneous sentence/par

[2012-10-15 17:46] webmeadow commented on #8
Great, I'm glad it was helpful! Yeah, we totally need a standardized way to comment on a spec - it gets a little hairy when some of the edits are wholesale rewrites of a sentence, but others are only tiny word changes. And though WYSIWYG editors are gross, it's pretty hard to read through a giant list of changes when all the text is the same weight and indentation.

Re "legibility": I actually lik

[2012-10-15 22:11] marcoscaceres commented on #8
On Monday, 15 October 2012 at 18:46, Eileen wrote:

I've added a meta bug:
https://github.com/ResponsiveImagesCG/meta/issues/1

It's growing on me - and those are very good points. It just that it draws attention to itself on its own, which is why I'm hesitant to include it… it took me out of the flow when I read it (i.e., it almost feels too clever). Know what I mean?

Once we move it to the W3C,

[2012-10-16 18:15] marcoscaceres opened #10 "Content negotiation and CDNs"
David Demaree wrote:

We need to capture a use case and requirement(s) based on the above.

[2012-10-16 20:02] webmeadow commented on #8
You can use "Eileen Webb", since it is my name. :)

Re 'legibility', the phrase "ability to communicate effectively" feels a little clunky; if you decide you don't want legibility you could simplify the whole thing to "On smaller screens, shrinking the image can reduce its relevance and usability."

Yep, I'm totally with you on the whole draft vs spec vs other-draft thing. It might be nice to have

[2012-10-16 23:52] marcoscaceres commented on #8
On Tuesday, October 16, 2012 at 9:02 PM, Eileen wrote:

Done :)

Ok, you win … legibility it is :)

Good point. I've added a "Changes since last publication" section… for now, it just points to the github history and closed bugs. In time, I'll look to improve this to give a better reflection of what has changed.

[2012-10-16 23:58] marcoscaceres commented on #8
Closing bug. Eileen, please reopen if you have anything further (or file a new bug). Thank you again for all your help!!!

[2012-10-16 23:58] #8 closed, assigned to marcoscaceres

[2012-10-18 10:36] ShaneHudson commented on #10
For this Use Case it might be worth referencing [RFC 2295](http://tools.ietf.org/html/rfc2295) which provides a technical overview of content negotiation.

[2012-10-18 16:01] marcoscaceres commented on #10
@ShaneHudson thanks for the link. We should probably also check out [HTTPBis](http://tools.ietf.org/wg/httpbis/) as it's more updated.

[2012-10-18 16:26] marcoscaceres commented on #10
@ShaneHudson so, after thinking about it, I think it would be safer just to point to the [HTTP spec](http://www.w3.org/Protocols/rfc2616/rfc2616-sec12.html).

[2012-10-18 16:29] marcoscaceres commented on #10
FYI, I've rewritten one of the requirements:

I'll start on the use case now.

[2012-10-18 16:31] nwtn opened #11 "Image URL sharing"
Need to consider possible use cases and/or requirements and/or notes about how copying and sharing image URLs would work given multiple sources (and possibly multiple formats).

See comments from Josh Fraser @ Torbit:

[2012-10-18 16:34] marcoscaceres commented on #7
We've done outreach to both the mailing list and on twitter.  We had a high reach of about 50,000 people on twitter. The following data was gathered from google analytics:

76 people visited this site
Visits: 85
Unique Visitors: 76
Pageviews: 97
Pages / Visit: 1.14
Avg. Visit Duration: 00:00:44
Bounce Rate: 90.59%
% New Visits: 89.41%
89.41%New Visitor
76 Visits
10.59%Returning Visitor
9 Visits

L

[2012-10-18 16:34] #7 closed, assigned to Wilto

[2012-10-18 17:08] marcoscaceres commented on #11
Linked to this from the spec.

[2012-10-19 15:40] marcoscaceres opened #12 "Need better art direction diagram"
The current Art Direction figure in the spec is not ideal. It would be nice to have a diagram that both explains the concept and is, itself, also responsive (when used with picturefill).

[2012-10-22 02:06] jeremyworboys commented on #12
Changed tact: http://d.pr/i/lqfH

It's simple, explains the concept and is background independent. Working on arranging it in a way that we can make it responsive.

[2012-10-22 10:58] marcoscaceres opened #13 "Switch to Anolis"
There are currently some limitations with Respec (e.g., custom headers, custom logo, etc.) that don't make it well suited to our needs. Need to swap the spec to using [Anolis](https://bitbucket.org/ms2ger/anolis) instead.

[2012-10-22 13:29] marcoscaceres commented on #13
Work started.

[2012-10-22 16:13] ShaneHudson commented on #12
Is it worth using one or two non Apple products to demonstrate that it really is cross platform?

[2012-10-22 16:15] Wilto commented on #12
+1 to chucking a couple of non-Apple screen sizes in there.

[2012-10-22 16:53] marcoscaceres commented on #13
Worked finished. Migrated to anolis.

[2012-10-22 16:53] #13 closed, assigned to nobody

[2012-10-22 16:54] marcoscaceres commented on #13
(asked @Wilto for quick review)

[2012-10-22 21:00] marcoscaceres commented on #12
It was mentioned in IRC that explicitly using any company's products explicitly won't win us any friends. We should be vendor neutral in all our work.

[2012-10-23 00:05] jeremyworboys commented on #12
Just caught the convo on IRC. Here is an updated copy with a Nook tab and a generic Droid: http://d.pr/i/yH8N

[2012-10-23 00:08] ShaneHudson commented on #12
Thanks Jeremy, I think that gets the point across much better,
responsive means works across all devices, not just some brands :)

Jeremy Worboys wrote:

[2012-10-23 16:16] marcoscaceres opened #14 "Inform HTMLWG of progress on UC&Reqs doc"
as we have now reached consensus on the [UC&Reqs](http://usecases.responsiveimages.org), we need to pass them over to the HTMLWG for a sanity check.

[2012-10-23 16:54] marcoscaceres commented on #14
[Done](http://lists.w3.org/Archives/Public/public-html/2012Oct/0156.html).

[2012-10-23 16:54] #14 closed, assigned to Wilto

[2012-10-23 19:12] lilith opened #15 "Typo in first paragraph"
A responsive image is an image that a developer explicit adapts

Should be

A responsive image is an image that a developer explicitly adapts

[2012-10-23 19:18] #15 closed, assigned to nobody

[2012-10-23 19:18] Wilto commented on #15
Thanks for the heads-up!

[2012-10-23 19:22] lilith commented on #11
I suggest that all current menu items (Like Open Image in New Tab, Copy Image Link) behave as if the current 'image' was the only URL, for clarity and obviousness.

While I DO anticipate user frustration of lack of format support in other browsers, I think that will help motivate browser vendors to follow through with implementations. To open the door to new formats, we DO have to solve first-leve

[2012-10-23 19:34] lilith commented on #10
Also, I'd like to bring up the eBooks/ePub use case. EPUB closely tracks (X)HTML development, and has historically avoided 'extending' HTML markup specifications, although it has been freer with CSS.

By nature, an offline HTML file/archive or EPUB book doesn't support HTTP negotiation. Most offline readers do not support javascript either.

However, they are both in a challenging position when it

[2012-10-24 10:21] marcoscaceres commented on #12
Looks like we are getting there. @jeremyworboys, can you please move the psd file into the [images directory](https://github.com/ResponsiveImagesCG/ri-usecases/tree/gh-pages/images) on the gh-pages branch. That way, we can collaborate on it.

Some notes:
- I think we need a better picture that more clearly shows what is being "art directed"
- we should remove identifying marks on devices, includin

[2012-10-24 10:49] anselmh commented on #11
If img-element is provided as fallback that would be the easiest solution. Provide this URL to the user.

If not it should be the one that is actually displayed by the browser to the user. This case the user gets what he actually sees and does not have to download more sources.

[2012-10-24 10:51] anselmh commented on #12
Agree with Marcos.
Also I think we should add a Kindle / Kobo with Monochrome image-type. For the crops an image like the Obama-one works much better. Or provide two images. The more examples we have the easier it is to understand.

[2012-10-24 11:48] marcoscaceres commented on #12
Instead of adding another device, we can probably just make one of the images monochrome inside one of the devices. That will get the point across.

[2012-10-24 12:04] jeremyworboys commented on #12
I'm thinking maybe throw another device or two in there and lay them out horizontally next to each other. We can then cut off the outer devices for art direction when displaying this image. Based on this the outer devices should not be important for conveying the message.

[2012-10-24 12:11] anselmh commented on #12
IMO it must not contain another device. I just think the monochrome part is an important feature of respimg and Kindle is the first device people understand why it would be useful.

[2012-10-25 18:34] igrigorik commented on #11
@nathanaeljones yet, the inability to have a safe fallback for WebP is exactly what prohibits more sites from adopting it. A 30% savings over JPEG is a _huge_ deal for the mobile web.

To address the root issue, we probably need both browser UI and markup tweaks: browser UI for user sharing, and markup for bookmarklets and extensions which simply scan the DOM, looking for images.

[2012-10-25 18:43] igrigorik commented on #10
- RFC 2295 has one major flaw: it imposes a huge latency penalty by requiring an extra `list response` in the workflow.
- User-Agent techniques are a dead-end, and cannot adapt to dynamic use cases
- Client-side techniques have similar penalty (or worse) as RFC 2295

A work-in-progress, Client-Hints: https://docs.google.com/document/d/1xCtGvPbvVLacg45MWdAlLBnuWa7sJM1cEk1lI6nv--c/edit#

I would rel

[2012-10-25 18:48] ddemaree commented on #10
The key word here is "require". Maybe the language can be clearer in this respect, but the point here is that a solution that _requires_ server-side processing without the possibility of client-side negotiation is significantly less useful for people who are less handy on the server side than you or I, or who lack the budget to scale a server-side solution the way Google or Adobe can.

I don't thi

[2012-10-25 18:49] marcoscaceres commented on #10
Agreed, the wording could probably be a little better (and agree with @ddemaree). I'm open to suggestions.

[2012-10-25 18:58] igrigorik commented on #10
@ddemaree I want to dispel the myth that only Google or Adobe would be able to do server-side adaption. Just like srcset defines a well-known "2x" filename, nothing stops us from defining multiple filenames (via a convention, a configuration flag, or similar), for other variables: name-lw.jpeg vs. name-hw.jpeg for low-bandwidth, vs high-bandwidth. (may not be the best example, but you get the poin

[2012-10-25 19:12] Wilto commented on #10
That seems fair to me. Would it make sense to expand it to something like:

Spec-writing is way outside of my wheelhouse; I’m not sure if the “SHOULD NOT” is appropriate here—just throwing that one out there.

[2012-10-25 19:14] marcoscaceres commented on #10
How about:

@Wilto, pro tip: in spec land, you can't ever have a MUST followed by a SHOULD.

[2012-10-25 19:18] Wilto commented on #10
See that? I learned something today.

Sold.

[2012-10-25 19:24] marcoscaceres commented on #10
Ok, added it to the spec. Have not committed it yet.

@ddemaree, sorry I have not actually been able to articulate a full use case section around this yet. We were prioritising the launch of [responsiveimages.org](http://responsiveimages.org) and preparing for presenting at TPAC next week :( However, it might be sufficient to just have the requirement and not a full use case description: content n

[2012-10-25 19:36] igrigorik commented on #10
@marcoscaceres @Wilto looks good, thanks for the quick turnaround!

[2012-10-26 15:39] anselmh commented on #11
Revised my thoughts and came to the result that it always should be the mobile / small version which should be shared if it actually is not a html-responsive file. That due to the fact mobile traffic is more and more limited by providers…

[2012-10-28 16:02] nwtn commented on #11
I agree with @nathanaeljones that the ideal scenario would be for browsers to alter the context-menu options, allowing users to select which source they want to open/copy/save. That might be a tall order though, and I'm not sure how much we can push for it in our specs.

It's possible that confusion that arises out of this could, as @nathanaeljones said, push browser makers towards better/more imp

[2012-10-28 17:21] nwtn opened #16 "Avoid download of smaller media"
This issue came up in the IRC (I think it was raised by @MattWilcox), and I wanted to document it and get some more discussion started. Not everyone agrees it's a problem, so please weigh in. I'm also not sure if/how this should be incorporated into a use case, so thoughts on that would be appreciated too.

Consider a situation where a developer wants a small image for a portrait orientation, and

[2012-10-28 18:37] igrigorik commented on #11
What you're describing is content negotiation, which should be handled at a lower layer. In fact, this is nothing new: some clients may support gzip, some not, and the format is negotiated at request time, transparent to the user.

Instead of adding context menu's, etc, the browser can instead send an `Accept` header indicating which image formats it supports, at which point the URL stays the same

[2012-10-28 18:44] igrigorik commented on #16
If you want different images based on-art direction, then specify different images. Further, the browser is unlikely to defer the loading of the alternate orientation image until that happens - instead, it will be treated as a low priority resource and will be downloaded at the end of the initial page load. Doing on-demand loading as core behavior would only make the overall performance worse - es

[2012-10-28 18:51] nwtn commented on #11
@igrigorik this isn't just for image formats, though, it's an issue for different size images and differently art-directed images, too. It needs to be predictable to the user what image they're copying. Ideally, it would also give them the choice.

[2012-10-28 20:49] igrigorik commented on #11
You're copying what you're seeing, providing a client mechanism to arbitrarily swap out the resource when you want to copy or share it is a great vector for abuse and nasty attacks - aka, art-direction in the opposite direction. If you want the user to share a different resource, then provide a link to the alternate version.

[2012-10-28 21:09] Wilto commented on #11
I’m with @igrigorik here. I’m certain there are ways this could be handled really cleverly on the UA side, but one step at a time—for our purposes, I think speccing that the currently visible source is the “sharable” one is the most we can do for now.

[2012-10-28 21:17] nwtn commented on #11
@igrigorik That's an interesting point about it being a potential attack/abuse vector

@Wilto as I said, I'm leaning this way too right now. I think a new context menu is a good idea but, as I said, I don't think it's something we can push for in the specs.

[2012-10-28 21:21] anselmh commented on #11
@igrigorik @Wilto Agree. We should do it that way now for the spec. The other things are up to UA/UA-plugins.

[2012-10-28 22:18] anselmh commented on #16
I agree w/ @igrigorik this is no real problem.
You still should use img for images not changing or you have to set your media-queries in a way that does not change the source. That is possible right now, right.
Otherwise if you want to have a different crop it should download both image-sources.

BTW @nwtn: Your example is not correct. You are talking about the name attribute but show the id-attr.

[2012-10-28 22:19] nwtn commented on #16
@anselmh thanks, will correct.

[2012-10-29 11:37] MattWilcox commented on #16
Hi,

This is almost right but not quite.

My point was about the download behaviour when a media query crosses boundaries and a lower-resolution resource is "requested".

The scenario is this:

You've visited a website at a large window size. You've got a bunch of picture elements, they've matched a media query, you've downloaded the higher resolution version. You now shrink the window and cross a

[2012-10-29 11:40] MattWilcox commented on #16
PS: I don't think this use case can be bunched in with the "the browser can download additional assets after page load automatically" thing. Which i feel is terrible behaviour in this case - there could be half a dozen potential matches, and we do _not_ want the browser downloading all of them after page load _just in case_ one matches later. That's horrendously wasteful.

[2012-10-29 12:08] marcoscaceres commented on #16
IMO, the right thing to do is whatever the media queries that match says to do. Please lets not over-complicate and over-engineer this (i.e., apply the [KISS principle](http://en.wikipedia.org/wiki/KISS_principle)). CSS does not try to be overly clever, and adding some clever model will just result in unpredictable behaviour, confusion, and frustration ("i.e., why is my image not showing up?! brow

[2012-10-29 12:09] yoavweiss commented on #16
@MattWilcox We probably don't want to use `type` for that (it's best to save `type` as an image format indicator). Any other attribute that makes sense (e.g. `usecase`) will do. Otherwise - great writeup of the IRC discussion.

The only point worth emphasizing: real users may not change their browser window dimensions that often. The main exception for that are orientation changes.

I'm not sure h

[2012-10-29 17:55] igrigorik commented on #16
@MattWilcox I understand your concern over wasted bytes, but it's important to recognize that doing on-demand downloads can (a) lead to worse off UX, and (b) will _definitely_ lead to much worse performance profile. In fact, (a) and (b) are intertwined.

On a mobile connection, which is exactly where you would want to save the bytes, the act of bringing up the radio can consume up to several secon

[2012-10-29 18:14] Wilto commented on #16
It’s fairly uncommon that the average user will visit a page and then reorient the device—at least, by comparison to visiting a page in a single orientation. Say we have a thousand users visiting five page apiece—each containing a picture element with only one breakpoint—leaves us with five thousand assets downloaded “just in case” that the user may never see.

The very first objective we set out

[2012-10-29 18:18] anselmh commented on #16
Sorry to interrupt you here. This is a common and often used practice on tablet devices. On mobile devices this is a non-issue. But I don't know if that is a real problem. I personally can live with this.

So you mean to download landscape and portrait on such devices? No, that is a no-go. Never forget the bandwidth and mobile traffic limits. Also performance is very bad when UA has to download at

[2012-10-29 18:21] Wilto commented on #16
Yeah, that’s the case I was making, @anselmh—downloading assets for both orientations (not to mention every other listed `source`, such as ones intended for 1000px-wide displays) is a non-starter. I understand that requesting all available sources may result in better perceived performance for those users that do re-orient while browsing, but it does so at a cost to every other user visiting that

[2012-10-29 18:50] scottjehl commented on #16
I agree with @wilto.

The main point of `picture` and the RICG's work was to allow authors to specify a single image to be requested and shown in a particular context, without requesting any additional overhead. This isn't only a performance concern, though it was intended as such. Much of the world's mobile users (including me) have data plans that are affected by data usage, either by limiting n

[2012-10-29 19:26] MattWilcox commented on #16
It seems that picture needs smarter behaviour based on the use-case for each picture element.

In cases where it's not art directed, and you've already downloaded that largest asset the device can ever display, then no further processing should happen. Never request anything else; just scale what's in memory down.

In cases where it's not art directed, and you've downloaded a smaller image than th

[2012-10-29 19:34] scottjehl commented on #16
Whether a source is art-directed or not will never be detectable by the browser, and that's okay.

A simple rule of only requesting the last applicable `source` element within a `picture` element whenever it is parsed is all that is needed here.

[2012-10-29 19:35] anselmh commented on #16
Fully agree.

[2012-10-29 19:36] Wilto commented on #16
+1 here.

[2012-10-29 19:36] beep commented on #16
+1 from me. I’d be comfortable handling any subsequent updates myself on the client.

[2012-10-29 19:41] scottjehl commented on #16
Ideally, I'd expect a client to automatically re-parse for a more appropriate `source` after any environmental change that would cause another media query to become applicable, such as orientation change, viewport resize, projectors or  print @media changes, etc.

[2012-10-29 19:42] beep commented on #16
Sorry, was posting in a slightly uncaffeinated state.

Wholeheartedly agreed. +1 to this.

[2012-10-29 20:05] marcoscaceres commented on #16
I also wholeheartedly agree.  +1 to this. And it's also what is currently in the spec and in the use cases and requirements document:

This is the behavior followed by CSS backgrounds, so it stands to reason that picture will behave the same way.

Please see (open network inspector, resize the relevant viewport):  http://jsfiddle.net/UWsGf/

[2012-10-29 23:13] yoavweiss commented on #16
Just to add that any UX lag on orientation changes (resulting from mobile data wake up times & re-fetching) can be compensated by showing the resized resource that was already downloaded, until the relevant resource arrives.

@scottjehl - current prototype implementation downloads the _first_ applicable `<source>`, similar to `<video>` (and unlike CSS). Is there any advantage to downloading the la

[2012-10-29 23:25] igrigorik commented on #16
I understand the direction and the sentiment, but it's not going to happen: the browser **will** download all of the specified breakpoints given in the markup on the initial load. This is nothing new, this is how **all** CSS + breakpoints are handled today, and changing this will require monumental changes to all specs and clients. Further, due to how preloaders are architected.. the browser won't

[2012-10-29 23:35] marcoscaceres commented on #16
@igrigorik it's hard for us to understand your position without some running code. I provided you with evidence that this, in fact, does not occur with CSS backgrounds (http://jsfiddle.net/UWsGf/) - which are the closest cousins to picture. Can you provide evidence to the contrary?

[2012-10-29 23:35] yoavweiss commented on #16
@igrigorik Did you have a chance to take a look at https://github.com/yoavweiss/RespImg-WebCore/ ?
It's a Chromium WebCore fork implementing 'picture' without dowloading all the resources (only the first one which MQ applies, from within the preload scanner)

[2012-10-29 23:40] scottjehl commented on #16
Doesn't webkit's preload scanner already handle this well when fetching CSS links with media attrs? I thought your article on CSS proved this to be the case.

Also, @yoav's working webkit `picture` prototype works with prefetch, as far as I know. He can confirm.

As for first or last source, I prefer last because it aligns with mobile-first media queries, but as long as one resource is fetched, th

[2012-10-30 00:39] igrigorik commented on #16
@marcoscaceres the running code is every browser out there - feel free to check, every browser will download all breakpoints of your CSS files. For CSS backgrounds, I need to take a closer look at existing logic behind that - my guess is that there is a difference here between evaluating the rules within the DOM context and within CSSOM.

Not directly related, but some discussion on CSS handling i

[2012-10-30 00:54] Wilto commented on #16
@igrigorik

There was a great deal of discussion around evaluating media queries at preload, and it sounds like you might be thinking of tailoring asset delivery to suit the layout or `picture`’s containing element—we definitely wouldn’t be able to deal with that (as that information wouldn’t be available) and we don’t aim to. It was confirmed several times that information about the `media` type,

[2012-10-30 03:07] igrigorik commented on #16
@Wilto can you clarify how `media` on `link` and on `picture` are any different? It's the same CSS media query, and the syntax leads me to believe that any media query could be used in both cases. Perhaps I'm missing something obvious here (wouldn't be the first time ;-)).

Also, I'm not sure I follow the "we'll display the old image until..." - what you've just described is FOUC. Would the page j

[2012-10-30 06:55] marcoscaceres commented on #16
Hi, all. The discussion is getting circular, and the tone is not one in the spirit of collaboration; so I'm sorry, but I'm closing down the bug. Once we actually have an implementation that we can file a bug against, this is speculation and grand standing.

Having said that, I think @igrigorik has raised some very valid issues and has set a challenge to prove him wrong (a good thing!). However, th

[2012-10-30 07:18] igrigorik commented on #16
@marcoscaceres I'm not sure what you have in mind by test cases here.. So far, I'm not convinced that the current browser behavior, while not perfect, is far from what we actually want: the test case is no-op. :-)

Having said that, will try to gather more feedback from the team here at Google.

P.S. IMO, implementing without any consensus on the behavior seems a bit backwards..

[2012-10-30 07:25] anselmh commented on #16
A test case only works with a somehow working implementation. It is nearly impossible to measure performance issues here, that is up to the UA vendors. But some of them assured it works (WHATWG mailing list).
I planned to do a W3C test against picture-element but not sure when I have the time to write that. Hopefully this week.

[2012-10-30 08:01] marcoscaceres commented on #16
@igrigorik would appreciate any further feedback from Google. Also, please don't view the prototype implementation as representing consensus: it's specifically designed to allow us to test crazy ideas, make lots and lots of mistakes, and fail badly so we can actively and rapidly learn from those mistakes (and not codify the mistakes in the spec... It's why it's a "prototype", right?).

This is a r

[2012-10-30 08:05] marcoscaceres commented on #16
@anselmh if you can find a pointer for the above, that would be helpful.

[2012-10-30 08:11] yoavweiss commented on #16
@igrigorik I'd love to talk to people from Chromium core (or any other browser vendor) regarding this. Feel free to ping me on twitter (same username) or mail (yoav at yoav . ws). I did not observe any performance impact of the fact that I run full MQ evaluation in the preload scanner. I'm using the document's Frame and RenderStyle to do that (I'm getting the RenderStyle through styleResolver::sty

[2012-10-30 11:54] andydavies commented on #16
(Edit: should have refreshed my browser before posting this as it says similar to what Ilya says above ...)

@marcoscaceres in the case of CSS, a browser will download all the external CSS regardless of whether the MQ is applicable or not (some browsers will defer the load of external CSS that cannot ever match the current viewport until the end of the page) - this is what I think @igrigorik is dr

[2012-10-30 11:58] yoavweiss commented on #16
@andydavies the MQs correspond to the document viewport - which is why we can prefetch resources based on these MQs before rendering actually started.

[2012-10-30 13:57] marcoscaceres commented on #16
@andydavies thanks for the clarification. I totally understand that problem (and it might turn out to be undoable), but I don't want us to not at least attempt to work around it in the prototype. We are defining something new here and it would be a shame to not at least try (even if we get nowhere).

[2012-10-30 15:05] anselmh commented on #16
Another thing here to throw in after I just merged the print-demo in. What happens if a page is printed? It should then download the image with print media-query on demand IMO.

[2012-10-30 23:27] igrigorik commented on #16
@yoavweiss the MQ's correspond to UA viewport right now. _But_, webkit [just landed](http://trac.webkit.org/changeset/132600) support for "CSS Device Adaption" which is explicitly pointing to deferring MQ evaluation until the viewport rules are applied:

http://dev.w3.org/csswg/css-device-adapt/

With the above, the viewport rules may reside in CSS file which must be first downloaded and parsed be

[2012-10-31 08:10] yoavweiss commented on #16
@igrigorik - Thanks for that comment!

`@viewport` (in its external CSS file form) does pose an obstacle I didn't consider when it comes to viewport width based MQ & preloading. We need to think of the optimal way `<picture>` & `@viewport` can co-exist.

Regarding resources that will probably be applied later (in events such as orientation change), I agree that there are tradeoffs to both "downloa

[2012-10-31 17:21] igrigorik commented on #16
Heh, FOLRI - I like it.

Honestly, I don't think handling "FOLRI" is a decision that can be made by the browser. It's the person authoring the content that should be making this decision - in some cases it may be "ok" to have this behavior, in others it may simply be unacceptable. In other words, this is decision that needs to be made by the person creating the content, a user override is meaningl

[2012-10-31 18:05] Wilto commented on #16
It sounds like this is a larger conversation that we’ll likely have to take up after TPAC. `@viewport` is definitely a major consideration in all this.

I feel strongly that forcing a user to download the entire set of images sources within a `picture` element—some/many of which may never apply to their context—is a far worse solution than not having a `picture` element at all. Honestly, I’d hate

[2012-10-31 19:43] igrigorik commented on #16
@Wilto sounds good. I'm 100% with you on the bandwidth concern. With that in mind, don't take the concerns that I've raised as an argument against `<picture>` - the rationale behind it, and the motivation make sense to me. We just need to figure out the right mechanism to trigger the downloads. MQ's may or may not be the right answer.

[2012-11-03 22:12] marcoscaceres opened #17 "Document is not mobile friendly"
The images and video are not being correctly sized for mobile.

[2012-11-03 22:13] marcoscaceres opened #18 "Bug link is broken"
Link to file a bug is broken

[2012-11-03 22:15] marcoscaceres opened #19 "File bug straight from spec"
It would be nice to not have to leave the spec to file a bug

[2012-11-04 01:59] ghost commented on #12
Could someone please explain what "art direction" is?

[2012-11-04 10:19] marcoscaceres commented on #12
@mahroof-ali please see: http://usecases.responsiveimages.org/#art-direction . If that text doesn't make sense, then we need to fix it. It's that text that we are trying to convey as an image.

[2012-11-04 19:41] marcoscaceres opened #20 "Source quality selection"
In the interview with Odin, he raised a good use case for allowing users to say which source they prefer from a set of sources (e.g., "always send me the lowest quality one, I'm roaming!"). This is akin to what Opera Mini supports already - users can select what quality to receive images at. This use case needs to be captured in the UC&Reqs document, a long with a suitable requirement a "truly dec

[2012-11-04 21:11] Wilto commented on #20
This has definitely been a part of the plan, and something I’ve wanted to retain as part of `srcset`:
http://www.w3.org/community/respimg/2012/06/18/florians-compromise, under “Bandwidth.”

I was told a handful of times that something like the above wouldn’t be appropriate for the spec, but that was well before the use case doc existed. I’d like to see this represented too.

[2012-11-05 15:55] MattWilcox commented on #20
Agreed, this was always one of the nice things about the approach of taking responsive images client-side. The ability to do user preferences. I'd like to see it in if possible, I'm not sure why it wouldn't be a good candidate for part of the spec (my ignorance of spec writing being the issue there).

[2012-11-05 15:59] MattWilcox commented on #11
My thinking is that it'd be nice for the browser UI to expose alternative resources, but the use case is someone sharing what they can see. So to me it makes sense that the behaviour would be to grab the URI for whatever asset the user is being shown.

[2012-11-05 16:02] MattWilcox commented on #10
I am very glad to see the Content Negotiation in like this. And very glad to learn about Client Hints, those are what I've been wanting for a long while :)

[2012-11-05 20:57] Wilto commented on #20
Interestingly, this _has_ been called out in the `image-set` specification[1]. I think we should follow suit.

1: http://dev.w3.org/csswg/css4-images/#image-set-notation

(@marcoscaceres added the text we need to adapt)

[2012-11-08 17:00] Wilto commented on #17
If only there were a way to load screen-appropriate images!

Looking into this now.

[2012-11-08 18:10] Wilto commented on #17
Mobile-friendlier as of 15d346d468b3a6435a0e5d5480c94e87ea704853

[2012-11-08 18:10] #17 closed, assigned to nobody

[2012-11-08 18:15] marcoscaceres commented on #17
Much better! Tested on iOS (iPad 2 and iPhone) and on Android 2.2..

[2012-11-12 13:17] marcoscaceres commented on #12
I've updated to use the following image (thanks @wilto!). However, the image has a few problems, namely the image shown in the picture is clearly not "responsive", otherwise the text in the image ("there is life out there") would be legible at a small size :

<img src="https://github.com/ResponsiveImagesCG/responsiveimages.org/blob/master/css/_img/devices.png?raw=true" width="800" height="500" sty

[2012-11-12 19:13] marcoscaceres commented on #20
@Wilto, by the way.... did you see in the latest Chrome site preferences you can turn off images for a site? So, basically, this could be an extension of those options.

[2012-11-12 19:21] marcoscaceres commented on #20
So, this is what I've got so far:

[2012-11-12 19:32] marcoscaceres commented on #20
Also added corresponding requirement:

[2012-11-12 19:39] marcoscaceres commented on #20
emailed text to Odin for review.

[2012-11-12 20:48] igrigorik commented on #20
I don't think "MUST" makes sense. Images, while a big part of the page, are not the only resources which can be modified to reduce the bytes on the wire. If there is setting in a browser to allow adaption based on bandwidth, then it should be a general preference, not just an image one - we don't want dozens of toggles. Having said that, if the browser wants to, they could give that option.. In ot

[2012-11-12 21:34] marcoscaceres commented on #20
I'm ok with SHOULD... yeah, looking at Chrome's site preferences, I can see it's starting to get a little long. the intent here is really about having a declarative solution (i.e., eluding to img@srcset).

[2012-11-12 23:12] marcoscaceres commented on #18
fixed

[2012-11-12 23:12] #18 closed, assigned to marcoscaceres

[2012-11-13 12:52] marcoscaceres opened #21 "XSS attack <script>console.warm('pwned')</script>"
Because we were not sanitizing the titles of Github bugs, we left ourselves open to a XSS attack. @marcoscaceres tried to fix this with:

But he is no PHP security expert.

[2012-11-13 12:54] marcoscaceres commented on #21
Need to fix this ASAP

[2012-11-13 13:26] marcoscaceres commented on #21
Ok, I think I fixed it with: htmlspecialchars($var, ENT_QUOTES, 'UTF-8').

However, need security review.

[2012-11-13 13:27] marcoscaceres commented on #21
testing again

[2012-11-13 13:41] marcoscaceres commented on #21
Seems ok now, but would really like a proper review. Maybe @attiks can do it or knows someone? The file in question is: https://github.com/ResponsiveImagesCG/responsiveimages.org/blob/master/issues.php#L86 (`print_issues()` function)

[2012-11-13 15:07] attiks commented on #21
did you push the latest changes?

[2012-11-13 15:09] marcoscaceres commented on #21
ah, my bad. I did not. I only pushed to the website... pushing now.

[2012-11-13 15:09] marcoscaceres commented on #21
https://github.com/ResponsiveImagesCG/responsiveimages.org/commit/aee6f2484f50371ecb89d8f7e3a9c4688793c8d1

[2012-11-13 15:17] attiks commented on #21
That should do it.

[2012-11-13 15:17] #21 closed, assigned to nobody

[2012-11-13 15:45] Wilto commented on #20
Yeah; I’m okay with “SHOULD” as well.

[2012-11-13 15:50] Wilto commented on #12
From IRC discussion: the lead background image on responsiveimages.org is going to be swapped out for a content image, paired with a description. The Dribbble screenshot above is showing Picturefill in use, though Dribble is only using it for resolution switching. This is a good opportunity to finally get some “in the wild” examples of the `picture` pattern showcased on the site, along with a brie

[2012-11-13 16:04] marcoscaceres commented on #20
Updated to SHOULD and got ok from @Velmont (Odin) on IRC.

[2012-11-13 16:04] #20 closed, assigned to marcoscaceres

[2012-11-13 16:16] hellogeri commented on #12
@Wilto We don't have permission, but I can likely get it pretty quickly (or, use one of ours like you said!)

[2012-11-13 16:24] marcoscaceres commented on #12
@Wilto, @hellogeri, rotating banner graphic? _always fresh_ :tm:

[2012-11-14 13:49] marcoscaceres commented on #12
Ok, <img src=http://usecases.responsiveimages.org/images/art_direction.jpg>

[2012-11-14 13:49] #12 closed, assigned to Wilto

[2012-11-14 17:51] Wilto opened #22 "File bugs at the W3C against individual use cases."
Per https://www.w3.org/Bugs/Public/show_bug.cgi?id=17061

[2012-11-14 22:59] marcoscaceres commented on #9
During today's call, @Wilto was not convinced we should gather this evidence. I'm ok to close this and come back to it in the future.

[2012-11-14 22:59] #9 closed, assigned to nobody

[2012-11-15 16:33] marcoscaceres opened #23 "Find out what we need to do to go to W3C FPWD"
The group is feeling pretty good about the document now, so we are ready to hopefully move it to the HTMLWG.

See also: https://github.com/ResponsiveImagesCG/ri-usecases/issues/24

[2012-11-16 03:29] marcoscaceres commented on #19
This should be a meta task. Moving to other repo. Now at: https://github.com/ResponsiveImagesCG/meta/issues/18

[2012-11-16 03:29] #19 closed, assigned to nobody

[2012-11-16 03:34] marcoscaceres commented on #23
Emailed Ian Jacobs at W3c for guidance. Will post progress soon.

[2012-11-16 03:36] marcoscaceres commented on #11
I can't see any further action here relating to the use cases. Let's come back to this if we need to later.

[2012-11-16 03:36] #11 closed, assigned to nobody

[2012-11-16 03:47] marcoscaceres commented on #22
@Wilto can you post some text for each use case that we can then file as bugs? Either here or on and etherpad. That way, we can have a few more folks contribute.

[2012-11-21 13:47] marcoscaceres commented on #23
Ian's response.

[2012-11-23 19:03] marcoscaceres commented on #23
@Wilto you went through this once before with the first publication. What buttons did you press, etc.?

[2012-11-23 21:46] marcoscaceres commented on #23
I [emailed the HTMLWG also](http://lists.w3.org/Archives/Public/public-html/2012Nov/0173.html). I don't expect any response, but worth a try.

[2012-11-28 17:09] marcoscaceres commented on #22
@Wilto and I started work on this: https://etherpad.mozilla.org/tRAjqKY1XG

[2012-11-28 19:30] marcoscaceres commented on #22
Emailed list for feedback.

[2012-12-01 13:07] marcoscaceres commented on #22
Bugs filed. [Details are on the mailing list](http://lists.w3.org/Archives/Public/public-respimg/2012Nov/0024.html).

# Bug 20172 - “Art direction” use case not well supported

URL: https://www.w3.org/Bugs/Public/show_bug.cgi?id=20172
Owners: Aaron Gustafson

Although img@srcset supports the resolution matching use case in a limited way, it does not fully support the art direction use case. To sup

[2012-12-01 13:07] #22 closed, assigned to nobody

[2012-12-02 12:38] marcoscaceres commented on #10
As we added the requirement, I'm closing this bug. Please reopen if you think we need to add anything else.

[2012-12-02 12:38] #10 closed, assigned to nwtn

[2012-12-02 12:40] marcoscaceres commented on #23
@Wilto ping:

[2012-12-03 16:25] Wilto commented on #23
Hm. I had an option on http://www.w3.org/community/respimg/ before—it doesn’t give me the option to republish or anything. I think so far as the push for FPWD goes, we would just want to put it up to the HTMLWG list a la http://lists.w3.org/Archives/Public/public-html/2012Nov/0129.html

I don’t know if we can do so ourselves, or if we’ll have to pester someone in the HTMLWG to do it for us. This m

[2012-12-08 19:32] marcoscaceres commented on #23
(@wilto emailed Ian Jacobs for instructions... setting to "waiting on")

[2012-12-11 10:52] baamenabar commented on #16
On the issue of avoiding the download of smaller media. It can be completely avoided using `min-device-width` and `max-device-width` wich will ignore de device orientation, so you can set the image to the widest orientation or the most narrow, what ever fits you better.

I haven't thoroughly tested, but in theory it should work.

[2012-12-11 13:23] marcoscaceres commented on #16
@baamenabar it would be great if you could put together a demo of that, so we have another data point.

[2012-12-11 14:10] marcoscaceres commented on #23
Ok, clarity!

1) The CG cannot publish on /TR/, only the HTML Working Group can.
- To do this, the editor of the spec formats the document according to "pubrules" [1] and then Mike Smith (the Team Contact) sends a "transition request" according to the publication process [2]. (When you visit [1] and [2] you need to pick First Public Working Draft from the dropdown to see the requirements for that

[2012-12-11 15:21] marcoscaceres opened #24 "Get commitments from CG members"
We need to get IPR commitments from CG members before we publish.

They need to click on red button:
http://www.w3.org/community/respimg/spec/26/commitments

[2012-12-11 15:22] marcoscaceres commented on #24
@Wilto this looks to me like something a Chair would take care of :monkey:.

[2012-12-11 15:39] Wilto commented on #24
Quick! To the Chair… uh, chair!

[2012-12-11 17:08] marcoscaceres commented on #23
see also: https://github.com/ResponsiveImagesCG/ri-usecases/issues/24

[2012-12-12 11:09] marcoscaceres commented on #24
Thanks @Wilto [emailing the list](http://lists.w3.org/Archives/Public/public-respimg/2012Dec/0024.html)!

Lets give it a week and then contact any stragglers. My understanding is that we don't need everyone, just people who have made significant contributions that have ended up on the spec.

[2012-12-13 16:27] baamenabar commented on #16
OK, I did a demo, could't figure out how to do a gh-pages branch of a branch, so I uploaded to my server.

http://medula.cl/temp/no-folri/

and the repo is here: https://github.com/baamenabar/ricg-demos/tree/no-folri

Did testing on a Galaxy SII and an iPad 3 on various browsers, as a proof of concept it works.

[2012-12-13 16:28] baamenabar commented on #16
Firefox on Android seems to ignore `min/max-device-width`, but I'm pretty sure I'm one of only 5 regular users of that browser (Too bad because it is very good).

[2012-12-13 16:59] anselmh commented on #16
Thanks for this demo, we should take that into our demo-space on http://responsiveimages.org/demos/ – @baamenabar are we allowed to do that? Can you send us a pull-request to our repo https://github.com/ResponsiveImagesCG/demos/ ?

Unfortunately the Firefox for Android problem can be confirmed by me but this is a problem of the UA. It works on Chrome and WebKit browsers I tested on mobile. Think i

[2012-12-13 19:01] baamenabar commented on #16
Of course you can do that, I've just send a pull request I hope it's done correctly (I'm new to this social code versioning thing).

Should I do it on the **polyfilled** branch instead?

About the Firefox for android issue, I'll make a simpler test to see how far the problem goes.

[2012-12-13 19:13] anselmh commented on #16
@baamenabar no it's correct in gh-pages. Will review and merge if valid.

[2012-12-19 18:22] Wilto commented on #24
I think we’re good on this for now, yeah? We can reopen/revisit if anyone thinks we need to ping anyone specific or push for more.

[2012-12-19 18:22] #24 closed, assigned to Wilto

[2012-12-19 18:25] marcoscaceres commented on #24
WFM. The main thing is that the main contributors have signed it.

[2012-12-20 20:51] grigs opened #25 "Art direction use case description should be more than cropping"
The current description for art direction says:

The Nokia example shown later demonstrates that sometimes the changes aren’t simply cropping.

Perhaps we could change it to say something like:

“In a responsive design, it is typical to change an image so it can be targeted towards the features of a particular display (or set of displays). Sometimes this means cropping an image. Other times, it ca

[2012-12-21 06:17] yoavweiss commented on #25
@marcoscaceres the change doesn't show up at http://usecases.responsiveimages.org/.
Did I modify the wrong branch?

[2012-12-22 10:27] anselmh commented on #25
Think it has to be merged manually to show up on website.

[2012-12-22 22:17] #25 closed, assigned to grigs

[2012-12-27 09:32] marcoscaceres commented on #23
All of the above are now done. I've emailed @sideshowbarker (Mike Smith, W3C team contact for W3C) for a check on how to proceed from here. The documents are at:

http://usecases.responsiveimages.org/pub/WD_15Jan2013.html
http://picture.responsiveimages.org/pub/WD_15Jan2013.html

[2012-12-27 09:32] #23 closed, assigned to marcoscaceres

[2012-12-27 18:36] marcoscaceres commented on #16
Closing. Thanks everyone for the very useful information.

[2012-12-27 18:36] #16 closed, assigned to nobody

[2012-12-27 20:51] yoavweiss commented on #16
To sum up:
Once we accept that picture is for art direction & srcset is for resolution switching, this is a non issue.
Different `<source>` MUST be downloaded if media query conditions changed
Different srcset candidates should be downloaded unless the browser heuristically decides it is not necessary.

[2013-02-24 23:49] grigs opened #28 "Resolution switching illustration is misleading"
I don’t see much difference between:
http://usecases.responsiveimages.org/images/devices.png

And the illustration being used to illustrate the art direction use case:
http://usecases.responsiveimages.org/images/art_direction.jpg

Cropping appears to happen in both examples even if the cropping is more pronounced in the art direction example. If you just look at the two examples side by side, it w

[2013-02-25 09:49] marcoscaceres commented on #28
@grigs I agree. A better set of images would be better. Could you possibly provide them? I can then put them into the device frames.

[2013-02-27 09:24] lilith opened #29 "Clarify explanatory statement about WebP/Jpeg vs PNG."
Perhaps change "the PNG format is better-suited to these needs." to "the PNG and WebP lossless formats are better-suited to these needs."?

WebP Lossless offers [faster decoding than PNG, and 25-30% smaller file sizes](https://developers.google.com/speed/webp/docs/webp_lossless_alpha_study).

[2013-02-27 11:00] lilith opened #30 "Add additional solution requirements"
11 The solution SHOULD offer an method to leverage breakpoints defined in CSS.
12 The solution SHOULD support a simplified syntax to support primary use case 3.1 (preferably a list of images and their dimensions), in order to reach users of content management systems and those without detailed knowledge of device queries.

As [a complete solution to these requirements exists](https://gist.github.c

[2013-03-15 10:18] marcoscaceres commented on #29
Added. Change set:
https://github.com/ResponsiveImagesCG/ri-usecases/commit/c72e908cb36134738fd7b9c39bfdfd9d98b8b31c

[2013-03-15 10:18] #29 closed, assigned to nobody

[2013-03-15 11:42] marcoscaceres commented on #30
Although I don't disagree with the general sentiment of the proposed requirements, I feel they are overly prescriptive. Also 11 is very close to requirement 1, which already reads:

CSS and breakpoints are implied in as a media feature.  And also, 6:

If there are no objections, I would like to close this bug.

[2013-03-15 11:43] marcoscaceres commented on #30
err, I mean, if there are objections, please re-open the bug.

[2013-03-15 11:43] #30 closed, assigned to nobody

[2013-03-15 12:52] lilith commented on #30
The purpose of 11 is to allow layout logic/presentation  to be externalized, not just for them to support CSS media queries. It isn't related to the purpose of 1.

The goal of 12 is to support GUIs and less knowledgeable authors. I've been getting an increasing quantity of feedback from real-world users of proponents of responsive images that they do not intend to use &lt;picture> (as it stands) i

[2013-03-15 13:30] marcoscaceres commented on #30
On Friday, 15 March 2013 at 12:52, Nathanael Jones wrote:

That's not clear from what you wrote. Or, at least, I didn't get it.

It would be great if you could bring them here to comment. We have 216 people in the CG + 1042 followers on twitter and very few have raised serious concerns about the design. There are also several sites using picturefill without issues. This is not to say that there ar

[2013-05-22 20:19] yoavweiss opened #31 "Add a "support preloading" use-case"
Going over the use-cases a few days ago, I've noticed that we left out one major use-case: That the solution will have high-performance.

I propose to add a use-case claiming that the solution should be (at least as its default) preloader-friendly.

Thoughts?

[2013-05-22 20:23] Wilto commented on #31
Hm. Mentioning the preloader might be too implementation-specific for the spec. It couldn’t hurt; maybe a “non-normative” note somewhere?

[2013-05-22 20:31] yoavweiss commented on #31
I'm not sure saying the solution should be preloaderable (yeah, that's not a word) is out of limits and needs to be placed in a "non-normative" section. Implementations can still decide whether to preload or not as they will.

[2013-05-23 06:09] anselmh commented on #31
Well, I don't know if that is a "use-case".
I mean, the use-case document is not about implementation, right? Shouldn't this be an "non-normative" notice in the specification?

[2013-05-23 06:22] igrigorik commented on #31
tl;dr.. +1

Performance is a use case, because performance is a feature, just like any other.

@pbakaus made this very point at a recent event (Mobile Summit at I/O), and I couldn't agree with him more: W3C specs and standards should have performance criteria attached to them. There are great examples of this in other industries - e.g., all 3GPP / 3GPP2 specs specify performance targets, etc. It's

[2013-05-23 06:26] anselmh commented on #31
Thanks. So we still need to figure some points out here before adding this section:
- Should it be marked as 'non-normative' or not?
- Should it be in specification? (IMO yes)
- Should it additionally be mentioned in use-cases document? (IMO no because this document is mostly for developers but have no strong opinion on that)

[2013-05-23 06:43] yoavweiss commented on #31
I don't think this should be mentioned in the picture spec, because picture (and srcset) are both solutions that are (more or less) preloader-friendly (based on the initial viewport).
There are proposed solutions that suggest waiting for layout. In my book these solutions are not valid ones for the default case (they might be valid for some edge cases), because they are not as performant as they c

[2013-05-24 01:36] nwtn commented on #28
i'd suggest not using the device frames, as it will make either cropping or letterboxing necessary. something like http://www.andreasnorman.com/wp-content/uploads/2012/04/retina-example.png might be more appropriate for resolution switching.

[2013-08-27 22:08] yoavweiss opened #32 "Modify the relative units section"
The relative units section in the use-cases document doesn't define the problem well IMO. The linked article is preferring the use of EMs because of an old WebKit bug impacting zoom+/- on px based MQs, that was since fixed.

The real reason EM based breakpoints should be preferred in RWD is that the user's font size preferences can impact the MQs, unlike PX based MQs.

It may also be possible that

[2013-08-28 12:25] yoavweiss commented on #28
Anyone interested in picking this issue up?

[2013-08-29 15:53] yoavweiss commented on #31
Closed by https://github.com/ResponsiveImagesCG/ri-usecases/pull/34

[2013-08-29 15:53] #31 closed, assigned to nobody

[2013-08-29 15:58] yoavweiss commented on #32
Waiting for @nwtn to add a matching illustration

[2013-09-04 10:46] yoavweiss commented on #28
closed by https://github.com/ResponsiveImagesCG/ri-usecases/pull/38

[2013-09-04 10:46] #28 closed, assigned to nobody

[2013-09-04 10:49] marcoscaceres commented on #32
Yippy! once we have this we can republish!

[2013-09-08 17:58] nwtn commented on #32
I mocked up these images, but I'm not feeling confident that they explain the issue, and I'm not sure what the best way to present them is. Feedback welcome.

![units-px-camera-man-1](https://f.cloud.github.com/assets/786799/1103524/23ff8afe-18b0-11e3-93ce-b9bc2b323fd8.jpg)
![units-px-camera-man-2](https://f.cloud.github.com/assets/786799/1103525/2a2f00b2-18b0-11e3-8ee9-8e0e2b9cafb8.jpg)
![units-p

[2013-10-17 17:49] #32 closed, assigned to nwtn

[2013-10-23 13:09] takenspc opened #48 "Mention relying color alone is an accessibility issue"
In [3.6 Matching media features and media types](http://usecases.responsiveimages.org/#matching-media-features-and-media-types), current Use Case Requirement says:

This is a common accessibility issue/mistake and fails WCAG 2.0 [Success Criterion 1.4.1 Use of Color](http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-without-color.html).

Yet there are some cases where authors cannot

[2013-10-23 13:25] nwtn commented on #48
+1. I know we talked about this, but I don't remember the outcome. I'll see if I can dig up the previous conversations in case there was anything already written.

[2013-10-23 13:34] marcoscaceres commented on #48
@takenspc agree, can you suggest some text please to fix the section?

[2013-10-23 13:55] nwtn commented on #48
[The IRC conversation I was thinking of](http://ircbot.responsiveimages.org/bot/log/respimg/2013-08-29#T31691). I believe it started out (in my mind) as "this needs to be a use case", and quickly got derailed into "the media queries don't work properly".

Also, this is one of @hellogeri's areas of expertise. Any comments/ideas?

[2013-10-24 15:19] takenspc commented on #48
Here are some sentences (though I wonder these are appropriate for a spec document.)

[2013-10-24 16:09] marcoscaceres commented on #48
@takenspc thanks for the proposed text. The document is really just supposed to outline the use cases, not provide best practice guidelines for developers. how about instead:

If you are ok with it, I will add it.

[2013-10-24 17:02] #48 closed, assigned to nobody

[2013-10-24 17:03] marcoscaceres commented on #48
@takenspc we've merged in the proposed text. If you want us to modify it, just let us know.

[2013-10-24 21:33] takenspc commented on #48
I confirmed. Thanks!

[2013-11-07 22:27] PaulTopping opened #50 "equation images"
MathML support in browsers is spotty with not much hope of improvement in the short term. MathJax, an open source JS lib that can render MathML, does a good job but has performance and reliability issues. Given this situation, it would be nice to use responsive images for equations.

It would be nice to allow a server to produce responsive equation images at request-time. This would allow the serv

[2013-11-07 22:55] marcoscaceres commented on #50
Hi @PaulTopping. I agree that it could be useful, as it it's not foreseen that the MathML situation will get better any time soon :(

Any of the currently proposed solutions could be used to address your use cases. For the accessibility cases, those would indeed be great. Adding the ability to download audio equivalents would be quite helpful, I imagine.

Is there anything in the current document

[2013-11-07 23:33] PaulTopping commented on #50
Hi @marcoscaceres. Are you suggesting that the current proposal would make the ambient properties (column width, font name/size/color of surrounding text, etc.) available to the server? If so, I am surprised. Could you point me to the place in the proposal where that is addressed?

[2013-11-07 23:46] marcoscaceres commented on #50
No, not so much at that level of detail. But client-hints (link below) could certainly help in providing some of the info you need (viewport width, pixel density, etc. and it's specifically designed to talk to CDNs). Also, as the server serves the fonts, sizes, etc. in the CSS, it has the context to make the decisions, no?

https://github.com/igrigorik/http-client-hints/blob/master/README.md

[2013-11-08 00:01] PaulTopping commented on #50
Thanks for pointing me at this document. Unfortunately, this doesn't help as the hints would need to reflect different data for each image. If I understand the CH mechanism, the hints are only to allow the user agent to communicate its capabilities or user options to the server. Of course, if CH could have replaceable parameters to do this task then we'd really have something! For example,

CH-SIT

[2013-11-08 00:39] PaulTopping commented on #50
You mention that the server knows the CSS it delivers so that it has the context to return the correct images. While this is theoretically true, it is not practical. It forces the server to simulate a user agent's processing of all CSS. Some might even come from another server. You also have to factor in the user agents' defaults for fonts, sizes. How can the server know what font, size, etc. the

[2013-11-08 17:03] marcoscaceres commented on #50
Those are valid points - thanks for thinking that through and the clarifications.

However, I'm still not sure what action you would like us to take on this bug? We see sites that currently mix images and text (through the art direction use case). It's not ideal, obviously (for the reasons you mentioned). I'm also worried that the use case you are bringing up is very particular to a community (it'

[2013-11-08 17:31] PaulTopping commented on #50
The community that cares about math may be much larger than you think. Every grade school student is expected to learn math. At least half of most colleges' departments must use math in their educational content. Virtually all technology, engineering, medical companies have equations in their content. There is a lot of math already on the web but there would probably be more if browsers handled it

[2013-11-08 17:35] marcoscaceres commented on #50
So, the core of the problem is still that we need better MathML support in browsers (which is outside the scope of our group). To use the responsive image solutions to solve that problem would only be a temporary stopgap.

However, with regards to another potential solution (again, just off the top of my head here) - if the HTML and the SVG shared the CSS file, then you could maybe get what you ne

[2013-11-08 17:48] PaulTopping commented on #50
I have been campaigning for better MathML support in browsers. There has been a lot of talk about this lately: http://news.cnet.com/8301-1023_3-57610854-93/google-subtracts-mathml-from-chrome-and-anger-multiplies/. Agreed that it is outside the scope of this group.

What we've been talking about is a stopgap measure somewhat but there will always be text-based notations for which there is no marku

[2013-11-08 18:00] nwtn commented on #50
I think the SVG approach is certainly your best bet at a stopgap.

While I am a huge believer in needing better MathML support, I know how hard we've struggled in this group to get the existing use cases taken seriously by browser vendors, and I believe the existing use cases are (or at least will be perceived to be) far more common than the one you're raising here. I fear that any push to include

[2013-11-08 18:00] #50 closed, assigned to nobody

[2014-04-08 11:21] mattnathan opened #51 "Sentence mistake in 4. Requirements -> point 10"
The sentence in the brackets `(e.g., the solution would work well with a browser's the preload scanner)` at bullet point 10 in section 4. could do with a rewrite:

`(e.g. the solution would work well with the browser's preload scanner)`

[2014-04-08 11:31] #51 closed, assigned to nobody

[2014-05-08 09:28] anselmh opened #53 "Section 1.1 still has src-N listed as 'in-development' solution"
http://usecases.responsiveimages.org/ lists src-N as 4th proposal in section 1.1.
While I find the title of the proposal (“Proposal for RespImg Syntax”) very confusing (“src-N Approach” would be better IMO), I think this proposal has been deprecated and shouldn’t be listed here anymore as the section description says it lists all in-development specifications.

[2014-05-08 17:09] marcoscaceres commented on #53
I agree we should change the wording, but I think it's nice to keep it in the document because it's a nice piece of the historical record. We should just add a note that src-n is not longer being perused as a solution .

[2014-05-08 17:30] anselmh commented on #53
Sure :)

[2014-05-12 14:23] #53 closed, assigned to nobody

[2014-06-30 07:03] yagodlt opened #55 "Invented word"
Section '3.6 Matching media features and media types':
In the paragraph that commences with 'Allowing developers to reference images...' there is the word 'infeasible', which is not correct. The correct word is 'unfeasible'.

[2014-06-30 13:18] nwtn commented on #55
The Economist has [a post about infeasible vs. unfeasible](http://www.economist.com/blogs/johnson/2012/07/variation). I have no real opinion on which we should use so, since both seem to be acceptable, I'm going to close this issue. If any of the other editors have a strong opinion on the matter, they're more than welcome to re-open and/or change the wording.

[2014-06-30 13:18] #55 closed, assigned to nobody

[2014-06-30 18:25] marcoscaceres commented on #55
@yagodlt, thanks for the feedback. As we are not planning to republish this document, I'm inclined to leave it as is.

[2014-07-01 22:55] yagodlt commented on #55
@marcoscaceres: that's fair enough.
@nwtn: thanks for the article, interesting reading! now I'm not so sure lol

[2015-03-11 01:30] yoavweiss opened #56 "Add an "invisible images" use-case"
As discussed on http://ircbot.responsiveimages.org/bot/log/respimg/2015-03-05#T117019 we need to write down what's required in order for authors to be able to make their images go away for some breakpoints.

@aarongustafson - up for the task?

[2015-03-17 18:26] aarongustafson commented on #56
Ready for feedback (or merge).

[2015-03-17 18:52] marcoscaceres commented on #56
Added feedback. Thanks @aarongustafson for doing the hard work!

[2017-06-02 21:27] Kusadam commented on #12
#57 [http://kusadam.com/hediye](url)

[2017-08-10 12:58] AndyOGo opened #62 "Adapt object-fit, object-position by matching source"
Hy there,

I would really need to be able to change the additional attributes applied to the `<img>` tag, in particular those are `object-fit`, `object-position` and `class`.

I need this especially for professional art direction and to compensate for focal points of different renditions.

Suppose the following markup:

[code]

[2017-08-10 14:22] eeeps commented on #62
Can't/shouldn't you do this in CSS?

[code]

[2017-08-10 15:09] AndyOGo commented on #62
@eeeps
Thank you for your quick answer. Ideally yes.
Though in case of an enterprise CMS, having an Art Director defining renditions it is impossible to know in advance how to style each rendition properly.
Hence it's should be possible for the art director to define the perfect `object-fit`, `object-position` attributes per rendition.

[2017-08-10 22:04] eeeps commented on #62
IMO, that's a tooling problem, not a platform problem. I know the presentation/content divide is inherently muddied a bit by `<picture>` and respimg generally, but — HTML attributes that are just re-packaged CSS are an old and unfortunate `<FONT COLOR="#FF0000">`mistake`</FONT>`.

[2017-08-10 22:14] marcoscaceres commented on #62
Agree with @eeeps: this is a limitation in tooling, not related to browser support or the standard. As such, I'm inclined to close this.

[2017-08-10 22:14] #62 closed

[2017-08-11 14:15] AndyOGo commented on #62
@eeeps
@marcoscaceres
You are clever guys and I generally agree with you.
Please just ignore the standard for a moment.
Let's sit down and think about the user profit, especially the art director. What could be a goal he wants to archive?
From my observation one non plus ultra feature would be custom size/resolution dependent positioning for each rendition.
To make this work it must be possible to

[2017-08-14 09:25] AndyOGo commented on #62
@eeeps
@marcoscaceres
May I ask you to contribute to my argument.
I really want to stress your attention on custom focal positioning of art directions.
I think there should be a DRY solution for those renditions.
Yes it's true repackaged CSS props as HTML attributes are horrible, though please separate this case from the legacy mistakes.
Take clean code into your considerations, i.e.:
- I don't wa

[2017-12-04 07:52] huijing opened #63 "Add a writing-mode use case"
In the event that the writing-mode of a container or the document changes from horizontal to vertical, it would be helpful if there was a media query for writing-mode such that an image of a different orientation could be served up with the `srcset` attribute.

Currently, it is possible to adjust orientation using `transform: rotate(-90deg)` but a rotated image could end up overflowing the contain

[2017-12-04 18:27] eeeps commented on #63
+1 to this being an enormous unsolved use case.

I'm (very) new to writing modes, but because HTML `<bdo>` & `dir`, and the CSS `direction` property, can all exist on any DOM subtree, and not just the whole document – I think this would require some sort of element or container query?

Container queries are a big blocker. Is there any chance that this use case could be more easily solved [with `h`

[2017-12-05 13:42] huijing commented on #63
I don't think so, because the orientation of the content is independent of the height of the viewport.

[2017-12-06 08:20] gericci opened #64 "Broken link in http://usecases.responsiveimages.org/"
The link pointing to the srcset specification ("the 'srcset' attribute)" is broken

[2017-12-06 08:39] marcoscaceres commented on #64
@gericci, would you be willing to send us a PR with a fix?

[2017-12-18 14:27] gericci commented on #64
ok, I'll do that :)

[2017-12-20 09:20] #64 closed

[2018-04-11 15:07] yoavweiss commented on #63
@huijing - can you elaborate on why height descriptors won't help here?

I understand that orientation is not related to the viewport height, but if you have a certain image inside an vertically oriented container, can't the browser pick the right variant there based on the viewport height?

If not, is it possible for you to share an example that would help us better understand why not?

[2018-12-29 22:56] skullwritter opened #67 "add support for image size based media queries"